<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <!-- CBOOKING PARAMETERS START-->

      <add key="Environment" value="prod" />
      <!--MSSQL Settings-->
      <!--<add key="DBServer" value="5.189.231.98" />-->
     <add key="DBServer" value="{{mssql_host}}" />
     <add key="DBName" value="{{ mssql_dbname }}" />
     <add key="DBLogin" value="{{ mssql_username }}" />
     <add key="DBPassword" value="{{ mssql_password }}" />
     <add key="DBReplicationServer" value="" />
     <add key="DBReplicationName" value="{{mssql_replica}}" />

      <!--MSSQL Settings-->

      <!--Log Settings-->
      <add key="LogFolder" value="c:\log" />
      <!--End Log Settings-->

      <!--BTP Settings-->
      <add key="BTPSMTPServer" value="post.webtours.ru" />
      <add key="BTPSMTPLogin" value="hotel@btp4.ru" />
      <add key="BTPSMTPPassword" value="{{ BTPSMTPPassword }}" />

      <add key="BTPMailingSMTPServer" value="smtp.tebe.ru" />
      <add key="BTPMailingSMTPLogin" value="id51162@smtp.tebe.ru" />
      <add key="BTPMailingSMTPPassword" value="{{ BTPMailingSMTPPassword }}" />
      <!--End BTP Settings-->


      <!--ReserveMaster Settings-->
      <add key="RMServiceUrl" value="http://api.reservmaster.ru" />
      <add key="RMProtocolVersion" value="v1" />

      <add key="RMUserId" value="3005" />
      <add key="RMPassword" value="{{ RMPassword }}" />

      <add key="RMUserIdCbt" value="3329" />
      <add key="RMPasswordCbt" value="{{ RMPasswordCbt }}" />

      <add key="RMUserIdGCBO" value="3354" />
      <add key="RMPasswordGCBO" value="{{ RMPasswordGCBO }}" />

      <add key="RMTestUserId" value="0744" />
      <add key="RMTestPassword" value="{{ RMTestPassword }}" />
      <!--End ReserveMaster Settings-->

      <!--Hotels PRO Settings-->
      <add key="HPROSvcUrl" value="https://api2.hotelspro.com/api" />
      <add key="HPROSvcUrlTest" value="https://api-test.hotelspro.com/api" />
      <add key="HPROProtocolVersion" value="v2" />

      <add key="HPROLogin" value="Cbooking" />
      <add key="HPROPassword" value="{{ HPROPassword }}" />
      <add key="HPROLoginEUR" value="Cbooking_EUR" />
      <add key="HPROPasswordEUR" value="{{ HPROPasswordEUR }}" />
      <add key="HPROLoginTest" value="Cbooking" />
      <add key="HPROPasswordTest" value="{{ HPROPasswordTest }}" />

      <add key="HPROStaticSvcUrl" value="http://cosmos.metglobal.tech/api/static" />
      <add key="HPROStaticProtocolVersion" value="v1" />
      <add key="HPROStaticLogin" value="CbookingCosmos" />
      <add key="HPROStaticPassword" value="{{ HPROStaticPassword }}" />
      <!--End Hotels PRO Settings-->

      <!--Sirena Egopay Settings-->
      <add key="SirenaServiceUrl" value="https://ws.egopay.ru/order/v2/" />
      <add key="SirenaShopId_CBO" value="100" />
      <add key="SirenaShopId_Cbooking" value="101" />
      <add key="SirenaShopId_CbookingTechnology" value="7642" />

      <add key="SirenaLogin" value="cbooking" />
      <add key="SirenaPassword" value="{{ SirenaPassword }}" />

      <add key="SirenaTestServiceUrl" value="https://tws.egopay.ru/order/v2/" />
      <add key="SirenaTestShopId_CBO" value="10" />
      <add key="SirenaTestShopId_Cbooking" value="10" />
      <add key="SirenaTestShopId_CbookingTechnology" value="10" />

      <add key="SirenaTestLogin" value="cbooking" />
      <add key="SirenaTestPassword" value="{{ SirenaTestPassword }}" />
      <!--End Sirena Egopay Settings-->

      <!--Email Adreses Settings-->
      <add key="EmailSupport" value="support@cbooking.ru" />
      <add key="EmailNoreply" value="noreply@cbooking.ru" />
      <add key="EmailInformer" value="reservation.informer@cbooking.ru" />
      <add key="EmailInfo" value="info@cbooking.ru" />
      <add key="EmailInfo2" value="info2@cbooking.ru" />
      <add key="EmailDogovor" value="dogovor@cbooking.ru" />
      <add key="EmailZakaz" value="zakaz@cbooking.ru" />
      <add key="EmailFinances" value="finances@cbooking.ru" />
      <add key="EmailContent" value="content@cbooking.ru" />
      <add key="EmailOnline" value="online@cbooking.ru" />
      <add key="EmailSales" value="sales@cbooking.ru" />
      <add key="EmailBuhOperator" value="buh-operator@cbooking.ru" />
      <add key="EmailBuhAgent" value="buh-agent@cbooking.ru" />
      <!--End Email Adreses Settings-->

      <!--HotelBook Settings-->
      <add key="HotelBookServiceUrl" value="http://188.65.211.36:5030/HotelBookGateway.WCF/HotelBookGatewayService.svc" />
      <add key="HotelBookSearchTimeout" value="20000" />
      <add key="HotelBookSearchResultsLimit" value="1000" />
      <!--HotelBook Settings-->

      <!--Cache Settings-->
      <add key="WebApiReferenceCacheSeconds" value="86400" />
      <add key="WebApiAutoCompleteCacheSeconds" value="10800" />
      <!--Cache Settings-->

      <!-- CBOOKING PARAMETERS END-->

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
