<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="webReferences" restartOnExternalChanges="true" requirePermission="false" type="WebTools.Configuration.References.ReferenceConfigurationSection, WebTools" />
  </configSections>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <appSettings>
    <add key="WebService.service" value="http://{{ absolute_url }}/hdssvc/service.asmx" />

    <!--MSSQL Settings-->
    <add key="DBServer" value="{{mssql_host}}" />
    <add key="DBName" value="{{ mssql_dbname }}" />
    <add key="DBLogin" value="{{ mssql_username }}" />
    <add key="DBPassword" value="{{ mssql_password }}" />
    <add key="DBReplicationServer" value="{{mssql_replica}}" />
    <!--MSSQL Settings-->

    <!--Log Settings-->
    <add key="LogFolder" value="c:\log" />
    <!--End Log Settings-->
    
    <!--BTP Settings-->
    <add key="BTPSMTPServer" value="post.webtours.ru" />
    <add key="BTPSMTPLogin" value="hotel@btp4.ru"/>
    <add key="BTPSMTPPassword" value="{{ BTPSMTPPassword }}"/>
    <!--End BTP Settings-->

    <!--ReserveMaster Settings-->
    <add key="RMServiceUrl" value="http://api.reservmaster.ru" />
    <add key="RMProtocolVersion" value="v1"/>

    <add key="RMUserId" value="3005"/>
    <add key="RMPassword" value="{{ RMPassword }}"/>

    <add key="RMUserIdCbt" value="3329"/>
    <add key="RMPasswordCbt" value="{{ RMPasswordCbt }}"/>

    <add key="RMUserIdGCBO" value="3354"/>
    <add key="RMPasswordGCBO" value="{{ RMPasswordGCBO }}"/>

    <add key="RMTestUserId" value="0744"/>
    <add key="RMTestPassword" value="{{ RMTestPassword }}"/>
    <!--End ReserveMaster Settings-->

    <!--Hotels PRO Settings-->
    <add key="HPROSvcUrl" value="https://api-proxy.hotelspro.com/api" />
    <add key="HPROSvcUrlTest" value="https://api-test.hotelspro.com/api"/>
    <add key="HPROProtocolVersion" value="v2"/>

    <add key="HPROLogin" value="Cbooking" />
    <add key="HPROPassword" value="{{ HPROPassword }}"/>
    <add key="HPROLoginEUR" value="Cbooking_EUR"/>
    <add key="HPROPasswordEUR" value="{{ HPROPasswordEUR }}"/>
    <add key="HPROLoginTest" value="Cbooking"/>
    <add key="HPROPasswordTest" value="{{ HPROPasswordTest }}"/>

    <add key="HPROStaticSvcUrl" value="http://cosmos.metglobal.tech/api/static"/>
    <add key="HPROStaticProtocolVersion" value="v1"/>
    <add key="HPROStaticLogin" value="CbookingCosmos"/>
    <add key="HPROStaticPassword" value="{{ HPROStaticPassword }}"/>
    <!--End Hotels PRO Settings-->

    <!--Sirena Egopay Settings-->
    <add key="SirenaServiceUrl" value="https://ws.egopay.ru/order/v2/"/>
    <add key="SirenaShopId_CBO" value="100"/>
    <add key="SirenaShopId_Cbooking" value="101"/>
    <add key="SirenaShopId_CbookingTechnology" value="7642"/>

    <add key="SirenaLogin" value="cbooking"/>
    <add key="SirenaPassword" value="{{ SirenaPassword }}"/>

    <add key="SirenaTestServiceUrl" value="https://tws.egopay.ru/order/v2/"/>
    <add key="SirenaTestShopId_CBO" value="10"/>
    <add key="SirenaTestShopId_Cbooking" value="10"/>
    <add key="SirenaTestShopId_CbookingTechnology" value="10"/>

    <add key="SirenaTestLogin" value="cbooking"/>
    <add key="SirenaTestPassword" value="{{ SirenaTestPassword }}"/>
    <!--End Sirena Egopay Settings-->

    <!--Email Adreses Settings-->
    <add key="EmailSupport" value="support@cbooking.ru" />
    <add key="EmailNoreply" value="noreply@cbooking.ru"/>
    <add key="EmailInformer" value="reservation.informer@cbooking.ru"/>
    <add key="EmailInfo" value="info@cbooking.ru"/>
    <add key="EmailInfo2" value="info2@cbooking.ru"/>
    <add key="EmailDogovor" value="dogovor@cbooking.ru"/>
    <add key="EmailZakaz" value="zakaz@cbooking.ru"/>
    <add key="EmailFinances" value="finances@cbooking.ru"/>
    <add key="EmailContent" value="content@cbooking.ru"/>
    <add key="EmailOnline" value="online@cbooking.ru"/>
    <add key="EmailSales" value="sales@cbooking.ru"/>
    <add key="EmailBuhOperator" value="buh-operator@cbooking.ru"/>
    <!--End Email Adreses Settings-->
    
  </appSettings>
  <webReferences configSource="App_Data\Config\WebReferences.config" />
  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation debug="false" targetFramework="4.0" batch="true" numRecompilesBeforeAppRestart="250" />
      <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
        <error statusCode="404" redirect="~/App_StaticPages/404.htm" />
      </customErrors>
      <pages enableSessionState="true">
        <controls>
          <add tagPrefix="ui" namespace="App_Code.UI" />
          <add tagPrefix="ui" namespace="VB.WebControls" assembly="VB.WebControls" />
          <add tagPrefix="web" assembly="WebTools" namespace="WebTools.UI" />
        </controls>
      </pages>
      <globalization uiCulture="ru" culture="ru-RU" />
      <siteMap defaultProvider="XmlSiteMapReader">
        <providers>
          <add name="XmlSiteMapReader" type="System.Web.XmlSiteMapProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="App_Data/Web.sitemap" />
        </providers>
      </siteMap>
      <httpModules>
        <add name="Reservation" type="App_Code.HttpModules.Reservation" />
        <add name="NotSupportedBrowsers" type="App_Code.HttpModules.NotSupportedBrowsers" />
      </httpModules>
      <httpHandlers>
        <add verb="GET" path="/resource/*/*.ashx" type="WebTools.Handlers.References.ResourceHandler, WebTools" />
      </httpHandlers>
      <!--<sessionState timeout="1"  />-->
    </system.web>
  </location>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{CACHE_URL}" pattern="*://www.*" />
					</conditions>
					<action type="Redirect" url="{C:1}://{C:2}" appendQueryString="false" redirectType="Permanent" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
