<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VBRunningServiceSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--OrdersSalvatory Settings-->
    <add key="OrdersSalvatoryServiceUrl" value="{{ Orders_endpoint }}" />
    <!--OrdersSalvatory Settings-->
	  <!--MSSQL Settings-->
    <add key="DBServer" value="{{VBmssql_host}}" />
    <add key="DBName" value="{{ mssql_dbname }}" />
    <add key="DBLogin" value="{{ mssql_username }}" />
    <add key="DBPassword" value="{{ mssql_password }}" />
    <add key="DBReplicationServer" value="{{mssql_replica}}" />
    <add key="Environment" value="{{ env }}"/>
    <!--MSSQL Settings-->
    <!--Log Settings-->
    <add key="LogFolder" value="c:\log" />
    <!--End Log Settings-->
    <!--BTP Settings-->
    <add key="BTPSMTPServer" value="post.webtours.ru" />
    <add key="BTPSMTPLogin" value="hotel@btp4.ru" />
    <add key="BTPSMTPPassword" value="{{BTPSMTPPassword}}" />
    <!--End BTP Settings-->
    <!--ReserveMaster Settings-->
    <add key="RMServiceUrl" value="http://api.reservmaster.ru" />
    <add key="RMProtocolVersion" value="v1" />
    <add key="RMUserId" value="3005" />
    <add key="RMPassword" value="{{RMPassword}}" />
    <add key="RMUserIdCbt" value="3329" />
    <add key="RMPasswordCbt" value="{{RMPasswordCbt}}" />
    <add key="RMUserIdGCBO" value="3354" />
    <add key="RMPasswordGCBO" value="{{RMPasswordGCBO}}" />
    <add key="RMTestUserId" value="0744" />
    <add key="RMTestPassword" value="{{RMTestPassword}}" />
    <!--End ReserveMaster Settings-->
    <!--Hotels PRO Settings-->
    <add key="HPROSvcUrl" value="https://api-proxy.hotelspro.com/api" />
    <add key="HPROSvcUrlTest" value="https://api-test.hotelspro.com/api" />
    <add key="HPROProtocolVersion" value="v2" />
    <add key="HPROLogin" value="Cbooking" />
    <add key="HPROPassword" value="{{HPROPassword}}" />
    <add key="HPROLoginEUR" value="Cbooking_EUR" />
    <add key="HPROPasswordEUR" value="{{HPROPasswordEUR}}" />
    <add key="HPROLoginTest" value="Cbooking" />
    <add key="HPROPasswordTest" value="{{HPROPasswordTest}}" />
    <add key="HPROStaticSvcUrl" value="http://cosmos.metglobal.tech/api/static" />
    <add key="HPROStaticProtocolVersion" value="v1" />
    <add key="HPROStaticLogin" value="CbookingCosmos" />
    <add key="HPROStaticPassword" value="{{HPROPasswordTest}}" />
    <!--End Hotels PRO Settings-->
    <!--Sirena Egopay Settings-->
    <add key="SirenaServiceUrl" value="https://ws.egopay.ru/order/v2/" />
    <add key="SirenaShopId_CBO" value="100" />
    <add key="SirenaShopId_Cbooking" value="101" />
    <add key="SirenaShopId_CbookingTechnology" value="7642" />
    <add key="SirenaLogin" value="cbooking" />
    <add key="SirenaPassword" value="{{SirenaPassword}}" />
    <add key="SirenaTestServiceUrl" value="https://secure.sirena2000.ru/ws/order/v2/" />
    <add key="SirenaTestShopId_CBO" value="10"/>
    <add key="SirenaTestShopId_Cbooking" value="10"/>
    <add key="SirenaTestShopId_CbookingTechnology" value="10"/>
    <add key="SirenaTestLogin" value="cbooking" />
    <add key="SirenaTestPassword" value="{{SirenaTestPassword}}" />
    <!--End Sirena Egopay Settings-->

    <!--Email Adreses Settings-->
    <add key="EmailSupport" value="support@cbooking.ru" />
    <add key="EmailNoreply" value="noreply@cbooking.ru"/>
    <add key="EmailInformer" value="reservation.informer@cbooking.ru"/>
    <add key="EmailInfo" value="info@cbooking.ru"/>
    <add key="EmailInfo2" value="info2@cbooking.ru"/>
    <add key="EmailDogovor" value="dogovor@cbooking.ru"/>
    <add key="EmailZakaz" value="zakaz@cbooking.ru"/>
    <add key="EmailFinances" value="finances@cbooking.ru"/>
    <add key="EmailContent" value="content@cbooking.ru"/>
    <add key="EmailOnline" value="online@cbooking.ru"/>
    <add key="EmailSales" value="sales@cbooking.ru"/>
    <add key="EmailBuhAgent" value="buh-agent@cbooking.online"/>
    <!--End Email Adreses Settings-->
    
    <!--VBRunningService Settings-->
    <add key="DBExporterPath" value="C:\Program Files\DBExporter\DBExporterConsole.exe" />
    <add key="SecondSMTPServer" value="smtp.tebe.ru" />
    <add key="SecondSMTPServerPort" value="25" />
    <add key="SecondSMTPLogin" value="cbooking@smtp.tebe.ru" />
    <add key="SecondSMTPPassword" value="{{SecondSMTPPassword}}" />
    <add key="SMTPFromName" value="noreply@cbooking.ru" />

    <add key="SMTPServer" value="smtp.mostapp.com" />
    <add key="SMTPServerPort" value="25" />
    <add key="SMTPLogin" value="cbooking" />
    <add key="SMTPPassword" value="{{SMTPPassword}}" />
    <add key="SMTPUseSsl" value="true" />
    <add key="SecondSMTPUseSsl" value="false"/>

    <add key="YandexSMTPServer" value="smtp.yandex.ru" />
    <add key="YandexSMTPServerPort" value="25" />
    <add key="YandexSMTPLogin" value="noreply@cbooking.ru" />
    <add key="YandexSMTPPassword" value="{{YandexSMTPPassword}}" />
    <add key="BuhDocFtpServer" value="ftp://84.21.229.142" />
    <add key="BuhDocFtpLogin" value="ftp-buh" />
    <add key="BuhDocFtpPassword" value="{{BuhDocSMTP}}" />
    
    <!--Failover Settings-->
    <add key="MaxFailoverSwitchSeconds" value="300"/>
    <!--End Failover Settings-->

    <!--Selectel Settings-->
    <add key="SelectelBaseUrl" value="https://api.selcdn.ru"/>
    <add key="SelectelLogin" value="82775_cbooking_app"/>
    <add key="SelectelPassword" value="{{SelectelPassword}}"/>
    <add key="SelectelAuthPath" value="v2.0/tokens"/>
    <add key="SelectelContainerPath" value="v1/SEL_82775/cbooking_app"/>
    <!--End Selectel Settings-->

    <!--HotelBook Settings-->
    <add key="HotelBookServiceUrl" value="{{ HotelBookApi }}:5030/HotelBookGateway.WCF/HotelBookGatewayService.svc" />
    <add key="HotelBookSearchTimeout" value="20000" />
    <add key="HotelBookSearchResultsLimit" value="1000" />
    <!--HotelBook Settings-->
    
    <!--Zabbix Settings-->
    <add key="ZabbixAddress" value="zabbix.mostapp.com" />
    <add key="ZabbixPort" value="10051" />
    <add key="ZabbixEnable" value="true" />
    <add key="ZabbixNet" value="{{ CurrentHost }}" />
    <!--Zabbix Settings-->
    <!--ReservationSteps Settings-->
    <add key="ReservationStepsClientServiceUrl" value="https://api.sandbox.reservationsteps.ru/v1/api/" />
    <add key="ReservationStepsClientLogin" value="{{ReservationStepsClientLogin}}" />
    <add key="ReservationStepsClientPassword" value="{{ReservationStepsClientPassword}}"/>
    <!--ReservationSteps Settings-->
    
<!--End VBRunningService Settings-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <VBRunningServiceSQL.Properties.Settings>
      <setting name="VBRunningServiceSQL_ru_cbr_www_DailyInfo" serializeAs="String">
        <value>http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx</value>
      </setting>
    </VBRunningServiceSQL.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
