[Unit]
Description=Puma Service
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/avih/db_config
User=avih
WorkingDirectory=/usr/share/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target

