mkdir c:\temp
ncftpget -u teamcity -p Qq111111 192.168.0.1 c:\temp\ LeoWebRepo.{{ build }}.7z  
mkdir c:\projects
icacls c:\projects /grant:r --% "avih":(OI)(CI)M

& "C:\Program Files\7-Zip\7z" x c:\temp\LeoWebRepo.{{ build }}.7z -oC:\temp -y
new-item c:\projects\Leo.Ticket.SH -type Directory
Copy-Item C:\temp\Build\Leo.Ticket.API.SH\Release\*.* c:\projects\Leo.Ticket.SH\ -Recurse
c:\projects\Leo.Ticket.SH\Leo.Ticket.API.SH -install name Leo.Ticket.SH

