Remove-Item -Recurse -Force c:\temp
New-Item c:\temp -ItemType Directory

ncftpget -u {{ ftp_user }} -p {{ ftp_pass }} {{ ftp_server }} c:\temp\ CBooking.Last.{{ envirop }}
cd c:\temp\

& "C:\Program Files\7-Zip\7z" x c:\temp\CBooking.Last.{{ envirop }} -oc:\temp\ -y

Stop-Service W3SVC
Remove-Item -Recurse -Force C:\inetpub\wwwroot\CbookingWebsite
mkdir C:\inetpub\wwwroot\CbookingWebsite
Move-Item -Force C:\temp\CbookingWebsite\* C:\inetpub\wwwroot\CbookingWebsite
Remove-Item -Recurse -Force C:\inetpub\Applications
mkdir c:\inetpub\Applications
mkdir c:\log
Move-Item -Force C:\temp\hdswebsite c:\inetpub\Applications
Move-Item -Force C:\temp\buhdocs c:\inetpub\Applications
Move-Item -Force C:\temp\channelmanagerapi c:\inetpub\Applications
Move-Item -Force C:\temp\cmxmlapi c:\inetpub\Applications
Move-Item -Force C:\temp\download c:\inetpub\Applications
Move-Item -Force C:\temp\hdsbo c:\inetpub\Applications
Move-Item -Force C:\temp\hdscontent c:\inetpub\Applications
Move-Item -Force C:\temp\hdsgateway c:\inetpub\Applications
Move-Item -Force C:\temp\hdsgatewaylite c:\inetpub\Applications
Move-Item -Force C:\temp\hdsorderfo c:\inetpub\Applications
Move-Item -Force C:\temp\hdsorderfo2 c:\inetpub\Applications
Move-Item -Force C:\temp\hdssvc c:\inetpub\Applications
Move-Item -Force C:\temp\hotelgateway c:\inetpub\Applications
Remove-Item -Recurse -Force C:\inetpub\wwwroot\ast.cbooking.ru
mkdir C:\inetpub\wwwroot\ast.cbooking.ru
Move-Item -Force C:\temp\Style\ast.cbookng.ru\Publish\* C:\inetpub\wwwroot\ast.cbooking.ru
mkdir C:\inetpub\wwwroot\BackOffice
Move-Item -Force C:\temp\BackOffice\* C:\inetpub\wwwroot\BackOffice
Stop-Service VBRunningService
mkdir "C:\Program Files (x86)\Vitus Bering"
Move-Item -Force C:\temp\VBRunningServiceSQL "C:\Program Files (x86)\Vitus Bering"
mkdir "C:\Program Files\DBExporter"
Move-Item -Force C:\temp\DBExporterConsole\DBExporterConsole\bin\Release\* "C:\Program Files\DBExporter"
Start-Service W3SVC
